<!DOCTYPE html>
<html lang="en">
<head>
    {{> intranet/common-head}}

    <title>Countries - JustQuality</title>

     <link rel="stylesheet" href="/css/intranet/administracion/paises/paises-list.css">
    <link rel="stylesheet" href="/css/intranet/common/common-list-table.css">
    <link rel="stylesheet" href="/css/intranet/common/common-search.css">
</head>
<body>
    

    {{> intranet/navigation-en }}

    {{{ body }}}

    {{> intranet/common-scripts}}

    <script src="/scripts/intranet/administracion/paises/paises-list.js"></script>
    <script src="/scripts/intranet/common/common-search.js"></script>

    
</body>
</html>