

<div class="container-width-content">

    <p id="container-titulo">Nueva llamada api</p>


        
    <button id="boton" onclick="ObtenerToken()">Obtener URl hispatec</button>
    <iframe id="iframe" src="https://traxx.anserlog.com/info?NumeroDC=3200496739" width="300" height="400">

    </iframe>
    
    
    
    

</div>