<!DOCTYPE html>
<html lang="en">
<head>
    {{> intranet/common-head}}

    <title>User {{usuario_id}} - JustQuality</title>

     <link rel="stylesheet" href="/css/intranet/administracion/usuarios/usuario/permisos.css">

</head>
<body>
    

    {{> intranet/navigation-en }}

    {{{ body }}}

    <script src="/scripts/intranet/administracion/usuarios/usuario/permisos.js"></script>

    {{> intranet/common-scripts}}
</body>
</html>