<!DOCTYPE html>
<html lang="es">
<head>
    {{> intranet/common-head}}

    <title>Perfil - JustQuality</title>
    <link rel="stylesheet" href="/css/intranet/perfil/perfil.css">
    <link rel="stylesheet" href="/css/intranet/common/common-multi-table.css">
</head>
<body>
    

    {{> intranet/navigation }}

    {{{ body }}}


    {{> intranet/common-scripts}}
    <script src="/scripts/intranet/common/common-multi-table.js"></script>
    <script src="/scripts/intranet/perfil/perfil.js"></script>

</body>
</html>