<script src="/scripts/utils/jquery-3.6.0.js"></script>

<script src="/scripts/intranet/common/common.js"></script>
<script src="/scripts/intranet/common/header.js"></script>

<div id="page-loader">
    <span class="preloader-interior"></span>
</div>

