<div class="container-width-content">


    <p id="container-titulo">Panel de administración</p>

    <a href='/intranet/administracion/usuarios' class="containerAdministration">
        <p class="containerAdministrationTitle">Usuarios</p>
        <i class="bi bi-people-fill containerAdministrationIcon"></i>
    </a>

    <a href='/intranet/administracion/controles' class="containerAdministration">
        <p class="containerAdministrationTitle">Tipos de control</p>
        <i class="bi bi-file-earmark-text-fill containerAdministrationIcon"></i>
    </a>

    <a href='/intranet/administracion/familias' class="containerAdministration">
        <p class="containerAdministrationTitle">Familias</p>
        <i  class="bi bi-text-paragraph containerAdministrationIcon"></i>
    </a>

    <a href='/intranet/administracion/plataformas' class="containerAdministration">
        <p class="containerAdministrationTitle">Plataformas</p>
        <i class="bi bi-geo-alt-fill containerAdministrationIcon"></i>
    </a>

    <a href='/intranet/administracion/paises' class="containerAdministration">
        <p class="containerAdministrationTitle">Paises</p>
        <i class="bi bi-pin-map-fill containerAdministrationIcon"></i>
    </a>

    <a href='/intranet/administracion/valoraciones' class="containerAdministration">
        <p class="containerAdministrationTitle">Valoraciones</p>
        <i class="bi bi-check-square-fill containerAdministrationIcon"></i>
    </a>

</div>
