<!DOCTYPE html>
<html lang="es">
<head>
    {{> intranet/common-head}}

    <title>Usuario {{usuario_id}} - JustQuality</title>

     <link rel="stylesheet" href="/css/intranet/administracion/usuarios/usuario/preferencias.css">

</head>
<body>
    

    {{> intranet/navigation }}

    {{{ body }}}

    <script src="/scripts/intranet/administracion/usuarios/usuario/en/preferencias.js"></script>

    {{> intranet/common-scripts}}
    
</body>
</html>