<img src="/images/logo.png">
<div id="container-main">
    <h3>Oops, ALGO NO HA IDO COMO DEBERÍA</h3>
    <p>Error: <i>{{msg}}</i></p>
    <label>Usuario: {{user}}</label>
    <a href='javascript:history.back(-1);' title='Ir la página anterior'><i class="bi bi-arrow-90deg-left" style="color: #fff;"></i> Ir atrás</a>
</div>