    <!---------------------------------------------------------------->
    <!--MAIN CONTAINER-->
    <div id="common-main-container" onmousedown="clickedMainContainer(event)">
        <div id="common-main-container-ct1">
           <div id="common-main-container-ct2">


                <div id="info-ct">

                    <div class="info-block" id="info-block-1">
                        <p class="info-block-title">Información del control</p>
                    </div>
                    
                    <div class="info-block" id="info-block-2">
                        <p class="info-block-title">Estado del control</p>
                    </div>

                </div>



            </div>
        </div>
    </div>