<!DOCTYPE html>
<html lang="es">
<head>
    {{> intranet/common-head}}

    <title>Envíos - JustQuality</title>

    <link rel="stylesheet" href="/css/intranet/envios/envios-list.css">
    <link rel="stylesheet" href="/css/intranet/common/common-list-table.css">
    <link rel="stylesheet" href="/css/intranet/common/common-search.css">

</head>
<body>
    

    {{> intranet/navigation }}


    {{{ body }}}



    {{> intranet/common-scripts}}
    <script src="/scripts/intranet/envios/envios-list.js"></script>
    <script src="/scripts/intranet/common/common-search.js"></script>


</body>
</html>