<!DOCTYPE html>
<html lang="es">
<head>
    {{> intranet/common-head}}

    <title>Alta de Nuevo Envío - JustQuality</title>

    
    <link rel="stylesheet" href="/css/intranet/common/common-nuevo.css">
    <link rel="stylesheet" href="/css/intranet/envios/envios-multi-table.css">
    <script src="/scripts/intranet/envios/formulario-alta.js"></script>
</head>
<body>
    

    {{> intranet/navigation }}


    {{{ body }}}



    {{> intranet/common-scripts}}
    


</body>
</html>