
<!DOCTYPE html>
<html lang="es">
<head>
    {{> intranet/common-head}}

    <title>{{informe_codigo}} - Grupos de control</title>

    <link rel="stylesheet" href="/css/intranet/periciales/pericial/grupos-control.css">
    <link rel="stylesheet" href="/css/intranet/periciales/pericial/common/common.css">
    <link rel="stylesheet" href="/css/intranet/common/common-multi-table.css">
</head>
<body>
    

    {{> intranet/navigation }}

    {{{ body }}}


    {{> intranet/common-scripts}}
    <script src="/scripts/intranet/common/common-multi-table.js"></script>
    <script src="/scripts/intranet/periciales/grupos-control.js"></script>


</body>
</html>