<div class="container-width-content">

    <p id="container-titulo">Nueva plataforma</p>

    <p id="back-main"><a href="/intranet/administracion/plataformas"><i class="bi bi-arrow-left"></i> Volver a plataformas</a></p>

        <form id="new-common-form" class="contentData" method="POST" action="/intranet/administracion/plataformas/nuevo">
            <p class="contentDataContainerTitle">Nueva plataforma</p>

            <div class="contentDataContainer">
                <label>Nombre plataforma</label>
                <input name="plataforma" type="text" required>
            </div>

            <div class="contentDataContainer">
                <label>Estado</label>
                    <select name="estado">
                        <option value="1">Activo</option>
                        <option value="0">No activo</option> 
                    </select>
            </div>

            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit">Crear plataforma</button>
        </form>

</div>