#container-main{
    margin-top: 50px;
}

#back-main a{
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}
#back-main a:hover{
    background-color: #2f6a6090;
    color: #fff;

}

#table-data-user{
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.75);
}

#table-data-user thead{
    background-color: #2f6a60;
    color: #fff;
}
#table-data-user thead tr td{
	padding: 10px 15px 10px 15px;
}
#table-data-user tbody{
    background-color: #fff;
    color: #000;
}
#table-data-user tbody tr {
    border-bottom: 1px solid #2f6a6030;
}
#table-data-user tbody tr:hover {
    background-color:#3f8e81;
    color: white;
    cursor: pointer;
}
#table-data-user tr td{
	padding: 10px 15px 10px 15px;
}

#table-data-user tbody tr td input{
    width: 100%;
    padding: 10px 5px 10px 5px;
    background-color: #ffffb3;
    border: 1px solid #f2f2f2;
}
#table-data-user tbody tr td select{
    width: 100%;
    height: 35px;
    background-color: #ffffb3;
    border: 1px solid #f2f2f2;
}

#table-data-user tbody tr td button{
    width: 80%;
    padding: 10px 5px 10px 5px;
    display: block;
    margin: 0 auto 0 auto;
    color: #fff;
    border: none;
    background-color: #2f6a60;
    border-radius: 10px;
    transition: 0.5s;
}
#table-data-user tbody tr td button:hover{
    background-color: #2f6a6090;
}


.table-data-user-text{
    max-width: 100px;
    background-color: #2f6a6030;
}

@media only screen and (max-width: 1500px) {
    #container-main{
        margin-top: 50px;
    }
}
