#container-main{
    margin-top: 50px;
}
#back-main a{
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
    display: inline-block;
    
}
#back-main a:hover{
    background-color: #2f6a6090;
    color: #fff;

}
#usuario-label-nombre{
    width: 100%;
    text-align: center;

}
.main-menu-box{
    width: 24.8%;
    height: auto;
    background-color: #2f6a60;
    display: inline-block;
    margin: 5px 0 5px 0;
    transition: 0.5s;
}
.main-menu-box-icon{
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 50px;
    color: #fff;
}
.main-menu-box-title{
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
    color: #fff;
    font-size: 16px;
}

.main-menu-box:hover{
    background-color: #2f6a6090;
}


@media only screen and (max-width: 1500px) {
    .main-menu-box{
        width: 33%;
    }
    #container-main{
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1000px) {
    .main-menu-box{
        width: 49%;
    }
}