<!DOCTYPE html>
<html lang="es">
    <head>
        
        {{> intranet/common-head}}

        <link rel="stylesheet" href="/css/intranet/envios/envio/datos.css">
        <script src="/api/hispatec.js"></script>
        <title>Envío - {{envio_referencia}}</title>


    </head>
    <body>

        {{> intranet/navigation }}

        {{{ body }}}

        {{> intranet/common-scripts}}
</body>
</html>