<!DOCTYPE html>
<html lang="es">

<head>

    {{> intranet/common-head}}

    <link rel="stylesheet" href="/css/intranet/controles/control/datos.css">
    <link rel="stylesheet" href="/css/intranet/controles/control/common/common.css">
    <link rel="stylesheet" href="/css/intranet/common/common-multi-table.css">
    

    <title>Envío - {{envio_referencia}}</title>


</head>

<body>

    {{> intranet/navigation }}

    {{{ body }}}

    {{> intranet/common-scripts}}

    <script src="/scripts/intranet/common/common-multi-table.js"></script>
    <script src="/scripts/intranet/envios/envio/mod-datos.js"></script>

</body>

</html>