
<!DOCTYPE html>
<html lang="es">
<head>
    {{> intranet/common-head}}

    <title>{{control_codigo}} - Acciones</title>

    <link rel="stylesheet" href="/css/intranet/controles/control/acciones.css">
    <link rel="stylesheet" href="/css/intranet/controles/control/common/common.css">
</head>
<body>
    

    {{> intranet/navigation }}

    {{{ body }}}


    {{> intranet/common-scripts}}

    <script src="/scripts/intranet/controles/control/common/nicEdit.js" type="text/javascript"></script>
    
    <script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>

    <script src="/scripts/intranet/controles/control/acciones.js"></script>

</body>
</html>