<!DOCTYPE html>
<html lang="es">
<head>
    {{> intranet/common-head}}

    <title>{{control_codigo}} - Información</title>

    <link rel="stylesheet" href="/css/intranet/controles/control/menu.css">

</head>
<body>
    

    {{> intranet/navigation }}

    {{{ body }}}


    {{> intranet/common-scripts}}
    <script src="/scripts/intranet/controles/control/menu.js"></script>


</body>
</html>