<!DOCTYPE html>
<html lang="es">
<head>
    {{> intranet/common-head}}

    <title>{{pc_nombre}} - Fotos</title>

    <link rel="stylesheet" href="/css/intranet/controles/control/punto-control-fotos.css">
    <link rel="stylesheet" href="/css/intranet/controles/control/common/common.css">
    <link rel="stylesheet" href="/css/intranet/controles/control/common/fotos.css">
</head>
<body>
    

    {{> intranet/navigation }}

    {{{ body }}}


    {{> intranet/common-scripts}}
    <script src="/scripts/intranet/controles/control/punto-control-fotos.js"></script>


</body>
</html>