
<!DOCTYPE html>
<html lang="es">
<head>
    {{> intranet/common-head}}

    <title>{{control_codigo}} - Precarga</title>

    <link rel="stylesheet" href="/css/intranet/controles/control/precarga.css">

</head>
<body>
    

    {{> intranet/navigation }}

    {{{ body }}}


    {{> intranet/common-scripts}}
    <script src="/scripts/utils/jquery-3.6.0.js"></script>
    <script src="/scripts/intranet/controles/control/precarga.js"></script>

</body>
</html>