<!DOCTYPE html>
<html lang="en">
<head>
    {{> intranet/common-head}}

    <title>New Control - JustQuality</title>
    <link rel="stylesheet" href="/css/intranet/common/common-nuevo.css">
    <link rel="stylesheet" href="/css/intranet/common/common-multi-table.css">
</head>
<body>
    

    {{> intranet/navigation-en }}

    {{{ body }}}


     <script src="/scripts/intranet/controles/nuevo.js"></script>
    {{> intranet/common-scripts}}


</body>
</html>