

    <!--BANNER1-->
    <div class="container-xxl" style="padding: 0; display: block; width:100%; margin-top: 150px; text-align: center; height: 500px;">
        <table style="width: 100%; height: 100%;">
            <tr>
                <td style="width:49%; display: inline-block;">
                    <h1 style="text-align: right; color: #007768; font-weight: bold; font-size: 20px; margin-right: 80px;">Ofrecemos servicios a <br> medida a nuestros clientes <br> y asociados</h1>
                    <img src="/images/corporative/JQ_piña.jpg" style="width: 100%;" alt="servicios a medida">
                </td>
                <td style="width:49%; display: inline-block; margin-top: -100px;">
                    <h2 style="text-align: left; color: #007768; font-weight: bold; font-size: 20px;">NUESTRA EMPRESA</h2>
                    <p style="text-align: left; line-height: 25px; font-size: 18px;"> Just Quality Systems SL es una empresa internacional formada por un experimentado grupo de agrónomos que ponen al servicio de nuestros clientes no solo su experiencia en cultivo, control de calidad, manejo de reclamaciones y post-cosecha de más de 25 años, si no también su talento y vocación de servicios. Nuestro conocimiento es tan amplio que abarca desde los procesos de producción, envasado, manipulación, transporte y control de calidad desde la recolección a la llegada al cliente final.</p>
                    
                    <div style="width: 80%; height: 100%; background-color: #007768; padding: 10px; margin-top: 100px; margin-bottom: 100px; margin-right: auto; margin-left: auto;">
                        <h2 style="color: white; font-weight: bold; font-size: 20px;">Estamos a un click de ayudarte</h2>
                        <h3 style="color: white; margin-top: 15px; font-size: 12px;">Si necesitas asesoramiento o presupuesto personalizado contáctenos.</h3>
                        <div style="width: 355px; margin-left: auto; margin-right: auto; margin-top: 18px;">
                            <div style="width: 140px; display: inline-block;">
                                <img src="/images/corporative/JQ_sobre.png" style="width: 30px; display: inline-block;"  alt="contacto email">
                                <p style="display: inline-block; font-size: 14px; width: 90px; margin-left: 10px; color: white;">info@justq.eu</p>
                            </div>
                            <div style="width: 160px; display: inline-block; margin-left: 50px;">
                                <img src="/images/corporative/JQ_auriculares.png" style="width: 30px; display: inline-block;" alt="contacto telefono">
                                <p style="display: inline-block; font-size: 14px; margin-left: 10px; color: white;">868 081 454</p>
                            </div>
                        </div>
                    </div>

                    <h2 style="text-align: left; color: #007768; font-weight: bold; font-size: 20px;">NUESTRA MISIÓN</h2>
                    <p style="text-align: left; line-height: 25px; font-size: 18px;">Es liderar la colaboración técnica en el sector añadiendo valor en los procesos de producción, distribución, comercialización y aseguramiento de la calidad. En Just Quality la calidad y el rigor de las inspecciones son la energía que impulsa la aceptación del producto y los acuerdos comerciales en cualquier lugar.</p>
                </td>
            </tr>
        </table>
    </div>

    <!--BANNER2-->
    <div class="container-xxl" style="padding: 0; display: block; width:100%; margin-top: 100px; text-align: center; height:auto ; margin-bottom: 200px;">

        <div style='width: 300px; height: 500px; position: relative; text-align: center; display: inline-block; margin-top: 200px;' >
            <img src="/images/corporative/JQ_circulo-11.jpg" style="width: 150px;" alt="cualificacion tecnica circulo">
            <img src="/images/corporative/JQ_degradadoicono-10.jpg" style="width: 300px;" alt="cualificacion tecnica degradado">
            <div style="position:absolute; top: 35%; left: 50%; transform: translate(-50%, 0%); width: 100%;">
                <h2 style="color: #007768; width: 100%; font-size: 20px;">CALIFICACIÓN TÉCNICA</h2>
                <hr style="width: 80px; margin-left: auto; margin-right: auto; margin-top: 10px; color: #007768;">
                <p style="text-align: left; padding: 20px; line-height: 25px; margin-top: 10px; font-size: 15px;">Nuestros inspectores tienen formación específica en horticultura y una enorme experiencia en la inspección de frutas y verduras fresca, incluso en las variedades y productos exóticos y menos convencionales. Recibimos formación adicional de forma sistemática para estar al día de las novedades en las normas de calidad y/o requisitos de los distintos mercados.</p>
            </div>
        </div>
    
        <div style='width: 300px; height: 500px; position: relative; text-align: center; display: inline-block; margin-top: 200px;' >
            <img src="/images/corporative/JQ_circulo-12.jpg" style="width: 150px;" alt="cualificacion tecnica circulo">
            <img src="/images/corporative/JQ_degradadoicono-11.jpg" style="width: 300px;">
            <div style="position:absolute; top: 35%; left: 50%; transform: translate(-50%, 0%); width: 100%;">
                <h2 style="color: #007768; width: 100%; font-size: 20px;">CONOCIMIENTO GLOBAL</h2>
                <hr style="width: 80px; margin-left: auto; margin-right: auto; margin-top: 10px; color: #007768;">
                <p style="text-align: left; padding: 20px; line-height: 25px; margin-top: 10px; font-size: 15px;">Somos expertos en determinar las causas que han provocados los daños en los productos inspeccionados desde la confección hasta el destino final ya sean enviados por camión o contenedor. También conocemos todas las normas y estándares de referencia en cada Mercado, así como sus preferencias en términos de calidad de producto.</p>
            </div>
        </div>

        <div style='width: 300px; height: 500px; position: relative; text-align: center; display: inline-block; margin-top: 200px;' >
            <img src="/images/corporative/JQ_circulo-13.jpg" style="width: 150px;" alt="cualificacion tecnica circulo">
            <img src="/images/corporative/JQ_degradadoicono-12.jpg" style="width: 300px;" alt="cualificacion tecnica degradado">
            <div style="position:absolute; top: 35%; left: 50%; transform: translate(-50%, 0%); width: 100%;">
                <h2 style="color: #007768; width: 100%; font-size: 20px;">PROXIMIDAD AL CLIENTE</h2>
                <hr style="width: 80px; margin-left: auto; margin-right: auto; margin-top: 10px; color: #007768;">
                <p style="text-align: left; padding: 20px; line-height: 25px; margin-top: 10px; font-size: 15px;">De forma permanente contamos con una gran estructura mundial para dar soporte a cualquier inspección con muy poca antelación.</p>
            </div>
        </div>

        <div style='width: 300px; height: 500px; position: relative; text-align: center; display: inline-block; margin-top: 200px;' >
            <img src="/images/corporative/JQ_circulo-14.jpg" style="width: 150px;" alt="cualificacion tecnica circulo">
            <img src="/images/corporative/JQ_degradadoicono-13.jpg" style="width: 300px;" alt="cualificacion tecnica degradado">
            <div style="position:absolute; top: 35%; left: 50%; transform: translate(-50%, 0%); width: 100%;">
                <h2 style="color: #007768; width: 100%; font-size: 20px;">INFORMES RIGUROSOS</h2>
                <hr style="width: 80px; margin-left: auto; margin-right: auto; margin-top: 10px; color: #007768;">
                <p style="text-align: left; padding: 20px; line-height: 25px; margin-top: 10px; font-size: 15px;">Nuestro equipo internacional trabaja con los responsables de calidad del recibidor para que cada inspección sea precisa y aceptada por todas las partes.</p>
            </div>
        </div>
    </div>

</div>