<!--BANNER1-->
<div class="container-fluid" style="padding: 0; display: block; width:100%; margin-top: -0px; text-align: center; height: auto; position: relative; text-align: center;">
    <img src="/images/corporative/JQ_frutohueso.jpg" style="width: 100%;" alt="just quality contacto">
    <h1 style="position:absolute; top: 10%; left: 50%; transform: translate(-50%, 0%); color:#007768; width: 500px; font-size: 20px; font-weight: bold;">Deja tu mensaje y un miembro de nuestro equipose pondrá en contacto a la mayor brevedad posible.</h1>


    <form action="/email/es/form-justq-contacto" method="post" style="position:absolute; top: 20%; left: 50%; transform: translate(-50%, 0%);" id="contactForm">
        <div>
            <input type="text" placeholder="Nombre y apellidos" name="name_apll" style="width: 300px; border: 0; padding: 10px; margin: 5px;" required>
            <input type="text" placeholder="Correo electrónico" name="correo" style="width: 300px; border: 0; padding: 10px; margin: 5px;" required>
        </div>
        <div>
            <input type="text" placeholder="Empresa" name="empresa" style="width: 300px; border: 0; padding: 10px; margin: 5px;" required>
            <input type="text" placeholder="Teléfono de contacto" name="telefono" style="width: 300px; border: 0; padding: 10px; margin: 5px;" required>
        </div>
        <div>
            <textarea placeholder="Mensaje" name="mensaje" style="width: 615px; border: 0; padding: 10px; margin: 5px; height: 200px;" required></textarea>
        </div>
        <div>
            <input type="checkbox" style="margin-right:10px; margin-top: 20px;" required><label style="font-weight: bold; background-color: rgba(255, 255, 255,0.5);">Estoy de acuerdo con <a href="politica_privacidad.html" style="text-decoration: none; color: #007768; ">la política de privacidad y las coockies.</a></label>
        </div>
        <input type="submit" value="ENVIAR FORMULARIO" style="padding: 10px; border: 0; background-color: #007768; color: white; font-weight: blod; margin-top: 20px;">
    </form>



    <div style="width: 500px; height: auto; background-color: #007768; padding: 10px; position:absolute; top: 80%; left: 50%; transform: translate(-50%, 0%);">
        <h2 style="color: white; font-weight: bold; font-size: 20px;">También nos puedes contactar a traves de este correo electrónico o al siguiente teléfono:</h2>
        <div style="width: 355px; margin-left: auto; margin-right: auto; margin-top: 20px;">
            <div style="width: 140px; display: inline-block;">
                <img src="/images/corporative/JQ_sobre.png" style="width: 30px; display: inline-block;" alt="contacto email">
                <p style="display: inline-block; font-size: 14px; width: 90px; margin-left: 10px; color: white;">info@justq.eu</p>
            </div>
            <div style="width: 160px; display: inline-block; margin-left: 50px;">
                <img src="/images/corporative/JQ_auriculares.png" style="width: 30px; display: inline-block;" alt="contacto telefono">
                <p style="display: inline-block; font-size: 14px; margin-left: 10px; color: white;">868 081 454</p>
            </div>
        </div>
    </div>
</div>

<!--BANNER2-->
<div class="container-xxl" style="padding: 0; display: block; width:100%; margin-top: -0px; text-align: center; height: auto; text-align: center; margin-bottom: 100px;">
    <div style="display: inline-block; padding: 30px;">
        <h3 style="text-align: left; color: #007768; font-weight: bold; font: bold; font-size: 20px;">OFICINA CENTRAL ESPAÑA</h3>
        <h4 style="text-align: left; font-size: 15px;">Just Quality Systems SL. <br> C/ Leonardo da Vinci, 2, 1ºB <br> 30140 Santomera <br> Murcia-Spain www.justq.eu <br> ceo@justq.eu <br> 868081454</h4>
    </div>
    <div style="display: inline-block; padding: 30px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d785.3750550059923!2d-1.0528676980200622!3d38.05873011497842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd639b561a0fc375%3A0x42a771af3d071a6b!2sJust%20Quality%20Systems!5e0!3m2!1ses!2ses!4v1618997692669!5m2!1ses!2ses" width="500" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
    <div style="display: inline-block; padding: 30px;">
        <h3 style="text-align: right; color: #007768; font-weight: bold; font: bold; font-size: 20px;">OFICINA PORTUGAL</h3>
        <h4 style="text-align: right; font-size: 15px;">Av do Atlàntico nº 16, 14, <br> Escritorio 8 <br> 1990-019 Lisboa Portugal <br> www.justq.eu <br> info@justq.eu <br> 913643775</h4>
    </div>
</div>