
<!--BANNER1-->
<div class="container-xxl" style="padding: 0; width:100%; margin-top: 100px; position: relative; text-align: center;">
    <img src="/images/corporative/JQ_fotoportada2_jpg.png" style="width: 100%;" alt="survey marine surveys periciales">
    <p style="position:absolute; top: 50%; left: 50%; transform: translate(-0%, -70%); color: #737373; font-weight: bold; font-size: 30px;">Surveys <br> Marine Surveys <br> Periciales</p>
</div>

<div class="container-xxl" style="width: 600px; height: auto;">
    <img src="/images/corporative/JQ_30años.png" style="width: 120px; float: left;" alt="30 años de experiencia">

    <div style="float: right;">
        <h1 style="font-weight: bold; float: right; width: fit-content; margin-top: 50px; font-size: 20px; color: #007768">Just Quality Systems LTD <br> es una empresa<br>internacional especializada en servicios de<br>peritación judicial agronómica.</h1>
    </div>
</div>

<!--BANNER2-->
<div class="container-fluid" style="padding: 0; width:100%; margin-top: 200px; position: relative; text-align: center;">
    
    <img src="/images/corporative/JQ_foto.png" style="width: 100%;" alt="calidad y rigor de inspecciones">
    <p style="position:absolute; top: 60%; left: 50%; transform: translate(-50%, 0%); color: #007768; font-size: 25px; font-weight: bold; width: 700px;">La calidad y el rigor de las inspecciones son la energía que impulsa la aceptación del producto y los acuerdos comerciales</p>
    
    <div style="width: 100%; position:absolute; top: 95%; left: 50%; transform: translate(-50%, 0%);">
        <div style="background-color: white; width: 180px; padding: 5px; height: 160px; box-shadow:  5px 5px 5px -6px black; display: inline-block; margin-right: 40px;">
            <img src="/images/corporative/JQ_cualificacion.png" style="width: 50px; float: left;" alt="cualificacion tecnica">
            <h2 style="float: left; margin-top: 5px; text-align: left; font-size: 18px; color:#007768;">Cualificación técnica</h2>
            <h3 style="float: left; text-align: left; margin-top: 10px; font-size: 13px;">Nuestros inspectores tienen una formación específica en horticultura</h3>
        </div>

        <div style="background-color: white; width: 180px; padding: 5px; height: 160px; box-shadow:  5px 5px 5px -6px black; display: inline-block; margin-right: 40px;">
            <img src="/images/corporative/JQ_conocimiento.png" style="width: 50px; float: left;" alt="conocimiento global">
            <h2 style="float: left; margin-top: 5px; text-align: left; font-size: 18px; color:#007768;">Conocimiento global</h2>
            <h3 style="float: left; text-align: left; margin-top: 10px; font-size: 13px;">Conocemos todas las normas y estándares de referencia en cada mercado</h3>
        </div>

        <div style="background-color: white; width: 180px; padding: 5px; height: 160px; box-shadow:  5px 5px 5px -6px black; display: inline-block; margin-right: 40px;">
            <img src="/images/corporative/JQ_porximidad.png" style="width: 50px; float: left;" alt="proximidad al cliente">
            <h2 style="float: left; margin-top: 5px; text-align: left; font-size: 18px; color:#007768;">Proximidad al cliente</h2>
            <h3 style="float: left; text-align: left; margin-top: 10px; font-size: 13px;">Contamos con una gran estructura mundial</h3>
        </div>

        <div style="background-color: white; width: 180px; padding: 5px; height: 160px; box-shadow:  5px 5px 5px -6px black; display: inline-block; margin-right: 40px;">
            <img src="/images/corporative/JQ_informes.png" style="width: 50px; float: left;" alt="informes rigurosos">
            <h2 style="float: left; margin-top: 5px; text-align: left; font-size: 18px; color:#007768;">Informes rigurosos</h2>
            <h3 style="float: left; text-align: left; margin-top: 10px; font-size: 13px;">Inspecciones precisas, fruto de la colaboaración entre ambas partes</h3>
        </div>
    </div>

</div>

<!--BANNER3-->
<div class="container-xxl" style="padding: 0; width:100%; margin-top: 100px; position: relative; text-align: center; margin-top: 150px;">
    <img src="/images/corporative/JQ_chirimoya.jpg" style="width: 70%; margin-right: auto; margin-left: auto; display: block;" alt="mas de 100 inpecciones por campaña">
    <h4 style="position:absolute; top: 25%; left: 20%; transform: translate(-50%, 0%); color: #737373; font-size: 20px; font-weight: bold; text-align: left;">CADA CAMPAÑA <br> INSPECCIONAMOS MÁS <br> DE 100 REFERENCIAS <br> DISTINTAS DE PRODUCTO</h4>
    <h5 style="position:absolute; top: 75%; left: 80%; transform: translate(-50%, 0%); color: #737373; font-size: 20px; font-weight: bold; text-align: right;">NO IMPORTAN LAS <br> CONDICIONES, NUESTRO <br> TRABAJO SIEMPRE SERÁ <br> RIGUROSO Y PROFESIONAL</h5>

</div>

<!--BANNER CONTACTO-->
<div class="container-fluid" style=" padding: 0; width:500px; height: 150px; margin-top: 70px; margin-bottom: 150px; background: linear-gradient(to bottom, #8c8c8c, white, #cccccc); padding: 2px;">
    <div  style="background-color: white; padding: 5px; height: 100%;">
        <h2 style="color: #737373; text-align: center; font-size: 25px; font-weight: bold;">Estamos a un click de ayudarte</h2>
        <h3 style="color: #737373; text-align: center; font-size: 15px; margin-top: 15px;">Si necesitas asesoramiento o presupuesto personalizado contáctenos.</h3>
        <div style="width: 355px; margin-left: auto; margin-right: auto; margin-top: 30px;">
            <div style="width: 140px; display: inline-block;">
                <img src="/images/corporative/JQ_sobre.png" style="width: 30px; display: inline-block;" alt="just quality contacto email">
                <p style="display: inline-block; font-size: 14px; width: 90px; margin-left: 10px;">info@justq.eu</p>
            </div>
            <div style="width: 160px; display: inline-block; margin-left: 50px;">
                <img src="/images/corporative/JQ_auriculares.png" style="width: 30px; display: inline-block;" alt="just quality contacto telefono">
                <p style="display: inline-block; font-size: 14px; margin-left: 10px;">868 081 454</p>
            </div>
        </div>
    </div>
</div>


<!--BANNER4-->
<div class="container-xxl" style="padding: 0; margin-bottom: 100px;">
    <img src="/images/corporative/JQ_detalle-12.jpg" style="width: 100%;" alt="detalles sobre inspecciones">
</div>