<!--BANNER1-->
<div class="container-xxl" style="padding: 0; display: block; width:100%; margin-top: 150px; text-align: center; height: auto;">
    <table style="width: 100%; height: 100%;">
        <tr>
            <td style="width:59%; display: inline-block;">
                <img src="/images/corporative/JQ_pitaya.jpg" style="width: 100%;" alt="conocenos">
            </td>
            <td style="width:39%; display: inline-block; margin-top: -100px;">
                <h1 style="text-align: left; color: #007768; font-weight: bold; font-size: 30px; ">En Just Quality estamos especializados en la inspección y control de calidad de fruta y verdura.</h1>
                <hr style="width: 100%; color:#007768; margin-top: 40px;">
                <p style="text-align: left; font-size: 25px; font-weight: bold; margin-top: 40px;">Nuestros inspectores son agrónomos, es la garantía de un servicio profesional, confiable e independiente, que le ayudará en su gestión de ventas a media y larga distancia.</p>
                <p style="text-align: left; font-size: 20px; margin-top: 40px;">Nuestro equipo está repartido por los 5 continentes y más de 60 países de forma permanente, cubriendo de esta forma todos los puertos de exportación y/o importación de fruta.</p>
            </td>
        </tr>
    </table>
</div>


<!--BANNER2-->
<div class="container-xxl" style="padding: 0; display: block; width:100%; margin-top: 100px; text-align: center;">
    <img src="/images/corporative/JQ_detalle-12.jpg" style="width: 90%; margin-left: auto; margin-right: auto;" alt="detalles">
</div>

<!--BANNER3-->
<div class="container-xxl" style="padding: 0; display: block; width:100%; margin-top: 100px; text-align: center;">
    <div style=" width: 39%; display: inline-block; padding: 30px;">
        <h2 style="text-align: right; color:#007768; font-weight: bold; font-size: 20px;">Garantía</h2>
        <hr style="margin-bottom: 3px; color:#007768;">
        <h3 style="text-align: right; font-size: 20px;">Contratar el servicio de inspección en origen es su mejor seguro ante reclamos</h3>
    </div>

    <p style="width: 59%; display: inline-block; text-align: left; padding: 30px; font-size: 20px;">Contratar nuestros servicios de inspección tanto en el momento de la carga del contenedor, como a la apertura a su destino final, le garantiza la ausencia de reclamaciones sin justificar y, en caso necesario, acelera los sistemas de gestión de peticiones de siniestro a las aseguradoras.</p>
</div>


<!--BANNER4-->
<div class="container-fluid" style="padding: 0; display: block; width:100%; margin-top: 50px; text-align: center; position: relative;">
    <img src="/images/corporative/JQ_degradado2-12.jpg" style="height: 50px; width: 100%;" alt="just quality servicios de inspeccion">
    <p style="position:absolute; top: 5%; left: 50%; transform: translate(-50%, 0%); width: 100%; color: white; font-weight: bold; font-size: 30px;">Presentación de servicios de inspección</p>
</div>

<!--BANNER5-->
<div class="container-xxl" style="padding: 0; width:100%; margin-top: 100px; position: relative; text-align: center; margin-bottom: 100px;">
    

    <div style="width: 49%; display: inline-block;">
        <div style="background-color: white; width: 180px; padding: 5px; height: 270px; box-shadow:  5px 5px 5px -6px black; display: inline-block; margin-right: 40px;">
            <img src="/images/corporative/JQ_informes.png" style="width: 50px; float: left;" alt="inspecciones en origen">
            <h2 style="float: left; margin-top: 5px; text-align: left; font-size: 18px; color:#007768;">Cómo trabajamos en origen</h2>
            <p style="float: left; text-align: left; font-size: 13px;">IEl Sistema de Control de calidad de Just Quality TM está diseñado para realizar el chequeo de todos los palets que componen un contenedor</p>
        </div>

        <div style="background-color: white; width: 180px; padding: 5px; height: 270px; box-shadow:  5px 5px 5px -6px black; display: inline-block; margin-right: 40px;">
            <img src="/images/corporative/JQ_informes.png" style="width: 50px; float: left;" alt="inspecciones en destino">
            <h2 style="float: left; margin-top: 5px; text-align: left; font-size: 18px; color:#007768;">Cómo trabajamos en destino</h2>
            <p style="float: left; text-align: left; font-size: 13px;">Una vez realizado el embarque y durante el tiempo de tránsito, esperamos recibir toda la documentación del contenedor y los detalles en destino</p>
        </div>
    </div>

    <h2 style="width: 49%; display: inline-block; font-size: 30px; text-align: left; color:#007768; transform: translate(0%,-100%);">No importan las condiciones, nuestro trabajo siempre será riguroso y profesional.</h2>

</div>
