<!--BANNER2-->
<div class="container-xxl" style="padding: 0; display: block; width:100%; margin-top: -100px; height: auto; position: relative; text-align: center;">
    <img src="/images/corporative/JQ_citricos.jpg" style="width: 100%;" alt="periciales">

    <div style="position:absolute; top: 20%; left: 10%; transform: translate(-50%, 0%);">
        <p style="text-align: left; width: 220px; line-height: 30px; font-weight: bold; font-size: 20px;">En Just Quality disponemos de un gabinete internacional formado por un experimentado grupo de agrónomos que ponen al servicio de nuestros clientes no solo su experiencia en la realización, gestión y tramitación de peritaciones en el ámbito agrícola, ya sean judiciales o no judiciales, si no su vocación de servicios demostrada durante más de 30 años en el sector.</p>
    </div>

    <div style="position:absolute; top: 20%; left: 80%; transform: translate(-50%, 0%);">
        <img src="/images/corporative/JQ_30años.png" style="width: 100px;" alt="30 años experiencia">
        <h1 style="text-align: right; width: 300px; line-height: 30px; font-weight: bold; color: #007768; margin-top: 20px; font-size: 20px;">En Just Quality la perfección y la profesionalidad de nuestros informes son la energía que nos guía en cada servicio.</h1>
    </div>

    <div style="position:absolute; top: 80%; left: 50%; transform: translate(-50%, 0%);">
        <h2 style="text-align: center; width: 450px; font-weight: bold; margin-top: 20px; font-size: 25px; font-size: 20px;">¿Tienes dudas sobre como abordar un problema pericial?</h2>
        <h3 style="text-align: center; width: 450px; font-size: 20px;">Rellena nuestro test y valoraremos el tipo de asesoramiento que más se adecue.</h3>
    </div>

</div>


<!--BANNER1-->
<div class="container-xxl" style="padding: 0; display: block; width:100%; margin-top: 0px; margin-bottom: 250px; text-align: center; height: auto; ">
    <img src="/images/corporative/JQ_APCAS.jpg" style="width: 150px; float:left" alt="just quality socios de apcas">
    <div style="width: 80%; float: right;">
        <h3 style=" text-align: left; font-size: 20px; color: #4d4d4d; font-weight: bold;">Como socios de APCAS, (Asociación de Peritos y Comisarios de averías), apoyamos su compromiso de velar por el prestigio y la imagen pública de todos los que compartimos esta profesión.</h3>
        <hr style="width: 100%; margin-left: auto; margin-right: auto;">
        <h3 style=" text-align: left; font-size: 20px; color: #4d4d4d; font-weight: bold;">Trabajamos intensamente para ser un referente nacional e internacional para dar garantía a todos nuestros clientes dentro del paraguas de la Asociación.</h3>
    </div>
</div>
