<!--BANNER1-->
<div class="container-xxl" style="padding: 0; display: block; width:100%; margin-top: -0px; text-align: center; height: auto; position: relative; text-align: center;">
    <img src="/images/corporative/JQ_uvas.jpg" style="width: 100%;" alt="presencia mundial">
    <h1 style="position:absolute; top: 20%; left: 0%; transform: translate(0%, 0%); color:#007768; width: 300px; font-size: 20px; font-weight: bold;">Donde quiera que necesites una inspección al rededor del mundo, siempre encontrarás un inspector de Just Quality</h1>
</div>

<!--BANNER2-->
<div class="container-xxl" style="padding: 0; display: block; width:100%; margin-top: 0px; text-align: center; margin-bottom: 100px;">
    <div style="width: 300px; display: inline-block; height: 150px;">
        <h2 style="color:#007768; text-align: center; font-size: 20px; font-weight: bold;">América</h2>
        <h3 style="text-align: center; font-size: 15px; font-weight: bold;">No importa si la inspección es en Latinoamérica o América del norte, gestionamos inspecciones en todos los países del continente.</h3>
    </div>
    <div style="width: 300px; display: inline-block; height: 150px;">
        <h2 style="color:#007768; text-align: center; font-size: 20px; font-weight: bold;">Europa</h2>
        <h3 style="text-align: center; font-size: 15px; font-weight: bold;">Desde la Península Ibérica a Rusia cubrimos todos los países de forma permanente.</h3>
    </div>
    <div style="width: 300px; display: inline-block; height: 150px;">
        <h2 style="color:#007768; text-align: center; font-size: 20px; font-weight: bold;">Medio Oriente & Asia</h2>
        <h3 style="text-align: center; font-size: 15px; font-weight: bold;">Arabia Saudi (Jeddah & Riyadh), UAE (Dubai), Singapore, Malaysia, China (Shanghai, HK, ...), solo dinos dónde y cuándo necesitas nuestra ayuda.</h3>
    </div>

    <img src="/images/corporative/JQ_mapa.jpg" style="width: 100%;">

    <div style="width: 300px; display: inline-block; height: 150px;">
        <h2 style="color:#007768; text-align: center; font-size: 20px; font-weight: bold;">África</h2>
        <h3 style="text-align: center; font-size: 15px; font-weight: bold;">RSA es nuestro mayor punto de inspección en África. Sin embargo, no es el único, ya que cubrimos todos los países de este fantástico continente.</h3>
    </div>
    <div style="width: 300px; display: inline-block; height: 150px;">
        <h2 style="color:#007768; text-align: center; font-size: 20px; font-weight: bold;">Oceanía</h2>
        <h3 style="text-align: center; font-size: 15px; font-weight: bold;">En Oceanía, inspeccionamos contenedores llegando a Nueva Zelanda y Australia (desde Melbourne a Queensland) o viajando a cualquier parte del mundo.</h3>
    </div>

</div>