<div class="container-width-content">


    <p id="container-titulo">Administration panel</p>

    <a href='/intranet/administracion/usuarios/en' class="containerAdministration">
        <p class="containerAdministrationTitle">Users</p>
        <i class="bi bi-people-fill containerAdministrationIcon"></i>
    </a>

    <a href='/intranet/administracion/controles/en' class="containerAdministration">
        <p class="containerAdministrationTitle">Types of control</p>
        <i class="bi bi-file-earmark-text-fill containerAdministrationIcon"></i>
    </a>

    <a href='/intranet/administracion/familias/en' class="containerAdministration">
        <p class="containerAdministrationTitle">Families</p>
        <i  class="bi bi-text-paragraph containerAdministrationIcon"></i>
    </a>

    <a href='/intranet/administracion/plataformas/en' class="containerAdministration">
        <p class="containerAdministrationTitle">Places of control</p>
        <i class="bi bi-geo-alt-fill containerAdministrationIcon"></i>
    </a>

    <a href='/intranet/administracion/paises/en' class="containerAdministration">
        <p class="containerAdministrationTitle">Countries</p>
        <i class="bi bi-pin-map-fill containerAdministrationIcon"></i>
    </a>

    <a href='/intranet/administracion/valoraciones/en' class="containerAdministration">
        <p class="containerAdministrationTitle">Assessments</p>
        <i class="bi bi-check-square-fill containerAdministrationIcon"></i>
    </a>

</div>
