
<!--BANNER1-->
<div class="container-xxl" style="padding: 0; display: block; width:100%; margin-top: 150px; text-align: center; height: 500px;">
    <table style="width: 100%; height: 100%;">
        <tr>
            <td style="width:49%; display: inline-block;">
                <p style="text-align: right; color: #007768; font-weight: bold; font-size: 20px; margin-right: 80px;">We offer tailored services <br> to our clients <br> and associates</p>
                <img src="/images/corporative/JQ_piña.jpg" style="width: 100%;">
            </td>
            <td style="width:49%; display: inline-block; margin-top: -100px;">
                <p style="text-align: left; color: #007768; font-weight: bold;">WHO WE ARE </p>
                <p style="text-align: left; line-height: 25px;">Just Quality Systems is an international company specialized in fresh produce post-harvest, horticultural production, quality assurance, damage survey, claims handling and agro technical consulting since 25 years ago. Our expertise is vast; from production processes, packaging, handling, transport, quality control from harvesting to the final client and assessment of damage claims.</p>
                
                <div style="width: 80%; height: 100%; background-color: #007768; padding: 10px; margin-top: 100px; margin-bottom: 100px; margin-right: auto; margin-left: auto;">
                    <p style="color: white; font-weight: bold; font-size: 20px;">We are here to support you! </p>
                    <p style="color: white; margin-top: -15px; font-size: 10px;">If you need advisory or personalized quotation, contact with us.</p>
                    <div style="width: 355px; margin-left: auto; margin-right: auto; margin-top: 20px;">
                        <div style="width: 140px; display: inline-block;">
                            <img src="/images/corporative/JQ_sobre.png" style="width: 30px; display: inline-block;">
                            <p style="display: inline-block; font-size: 14px; width: 90px; margin-left: 10px; color: white;">info@justq.eu</p>
                        </div>
                        <div style="width: 160px; display: inline-block; margin-left: 50px;">
                            <img src="/images/corporative/JQ_auriculares.png" style="width: 30px; display: inline-block;">
                            <p style="display: inline-block; font-size: 14px; margin-left: 10px; color: white;">868 081 454</p>
                        </div>
                    </div>
                </div>

                <p style="text-align: left; color: #007768; font-weight: bold;">OUR MISSION</p>
                <p style="text-align: left; line-height: 25px;">Our mission is to lead in technical partnerships with all players in global supply chain of fresh fruits and vegetables based on our proven added value in the processes of production, distribution, commercialization, quality assurance and trade disputes handling.</p>
            </td>
        </tr>
    </table>
</div>

<!--BANNER2-->
<div class="container-xxl" style="padding: 0; display: block; width:100%; margin-top: 100px; text-align: center; height:auto ; margin-bottom: 200px;">

    <div style='width: 300px; height: 500px; position: relative; text-align: center; display: inline-block; margin-top: 200px;' >
        <img src="/images/corporative/JQ_circulo-11.jpg" style="width: 150px;">
        <img src="/images/corporative//JQ_degradadoicono-10.jpg" style="width: 300px;">
        <div style="position:absolute; top: 35%; left: 50%; transform: translate(-50%, 0%); width: 100%;">
            <p style="color: #007768; width: 100%;">TECHNICAL QUALIFICATIONS</p>
            <hr style="width: 80px; margin-left: auto; margin-right: auto; margin-top: -10px; color: #007768;">
            <p style="text-align: left; padding: 20px; line-height: 25px; margin-top: -20px;">Our surveyors and inspectors have specific qualifications in horticulture and have extensive fresh produce quality inspection training and experience to even deliver beyond what is expected. They also regularly receive additional training when the need arises.</p>
        </div>
    </div>

    <div style='width: 300px; height: 500px; position: relative; text-align: center; display: inline-block; margin-top: 200px;' >
        <img src="/images/corporative/JQ_circulo-12.jpg" style="width: 150px;">
        <img src="/images/corporative/JQ_degradadoicono-11.jpg" style="width: 300px;">
        <div style="position:absolute; top: 35%; left: 50%; transform: translate(-50%, 0%); width: 100%;">
            <p style="color: #007768; width: 100%;">GLOBAL KNOWLEDGE</p>
            <hr style="width: 80px; margin-left: auto; margin-right: auto; margin-top: -10px; color: #007768;">
            <p style="text-align: left; padding: 20px; line-height: 25px; margin-top: -20px;">We are experts in determining the cause of fruits or vegetables damage from confection to the destination (ports, airports, logistic centers and warehouses). We also understand at perfection quality standards applied in international trade of fresh produce.</p>
        </div>
    </div>

    <div style='width: 300px; height: 500px; position: relative; text-align: center; display: inline-block; margin-top: 200px;' >
        <img src="/images/corporative/JQ_circulo-13.jpg" style="width: 150px;">
        <img src="/images/corporative/JQ_degradadoicono-12.jpg" style="width: 300px;">
        <div style="position:absolute; top: 35%; left: 50%; transform: translate(-50%, 0%); width: 100%;">
            <p style="color: #007768; width: 100%;">PROXIMITY AND THE COSTUMER SUPPORT</p>
            <hr style="width: 80px; margin-left: auto; margin-right: auto; margin-top: -10px; color: #007768;">
            <p style="text-align: left; padding: 20px; line-height: 25px; margin-top: -20px;">We have a permanent technical help desk to provide support in real time and at short notice.</p>
        </div>
    </div>

    <div style='width: 300px; height: 500px; position: relative; text-align: center; display: inline-block; margin-top: 200px;' >
        <img src="/images/corporative/JQ_circulo-14.jpg" style="width: 150px;">
        <img src="/images/corporative/JQ_degradadoicono-13.jpg" style="width: 300px;">
        <div style="position:absolute; top: 35%; left: 50%; transform: translate(-50%, 0%); width: 100%;">
            <p style="color: #007768; width: 100%;">ACCURATE REPORTING</p>
            <hr style="width: 80px; margin-left: auto; margin-right: auto; margin-top: -10px; color: #007768;">
            <p style="text-align: left; padding: 20px; line-height: 25px; margin-top: -20px;">Our international team work in tandem with headquarters inspectors and management staff who review minutiously every single quality inspection and survey before writing reliable corresponding report.</p>
        </div>
    </div>
</div>