
<!--BANNER1-->
<div class="container-xxl" style="padding: 0; width:100%; margin-top: 100px; position: relative; text-align: center;">
    <img src="/images/corporative/JQ_fotoportada2_jpg.png" style="width: 100%;" alt="survey marine surveys quality control">
    <p style="position:absolute; top: 50%; left: 50%; transform: translate(-0%, -70%); color: #737373; font-weight: bold; font-size: 30px;">Quality Controls<br> Marine Surveys<br>Loss Adjustment</p>
</div>

<div class="container-xxl" style="width: 600px; height: auto;">
    <img src="/images/corporative/JQ_30años.png" style="width: 120px; float: left;"  alt="30 years">

    <div style="float: right;">
        <h1 style="font-weight: bold; float: right; width: fit-content; margin-top: 50px; font-size: 20px; color: #007768;">Fresh Fruits and Vegetables Quality Controls,<br> Marines Surveys<br> and Loss Adjustment Expertise.</h1>
    </div>
</div>

<!--BANNER2-->
<div class="container-fluid" style="padding: 0; width:100%; margin-top: 200px; position: relative; text-align: center;">
    
    <img src="/images/corporative/JQ_foto.png" style="width: 100%;">
    <p style="position:absolute; top: 60%; left: 50%; transform: translate(-50%, 0%); color: #007768; font-size: 25px; width: 700px; font-weight: bold;">Our routine quest of service superiority and rigor is the driving force that leads to product acceptability and successful trade disputes resolution</p>
    
    <div style="width: 100%; position:absolute; top: 95%; left: 50%; transform: translate(-50%, 0%);">
        <div style="background-color: white; width: 180px; padding: 5px; height: 200px; box-shadow:  5px 5px 5px -6px black; display: inline-block; margin-right: 40px;">
            <img src="/images/corporative/JQ_cualificacion.png" style="width: 50px; float: left;">
            <h2 style="float: left; margin-top: 5px; text-align: left; font-size: 18px; color:#007768;">Technical qualification</h2>
            <h3 style="float: left; text-align: left; margin-top: 10px; font-size: 13px;">We are trained and experienced inspectors, surveyors and loss adjusters</h3>
        </div>

        <div style="background-color: white; width: 180px; padding: 5px; height: 200px; box-shadow:  5px 5px 5px -6px black; display: inline-block; margin-right: 40px;">
            <img src="/images/corporative/JQ_conocimiento.png" style="width: 50px; float: left;">
            <h2 style="float: left; margin-top: 5px; text-align: left; font-size: 18px; color:#007768;">Global Knowledge</h2>
            <h3 style="float: left; text-align: left; margin-top: 10px; font-size: 13px;">We are experts in all quality assurance, marine survey and loss adjustment standards of reference known in the market</h3>
        </div>

        <div style="background-color: white; width: 180px; padding: 5px; height: 200px; box-shadow:  5px 5px 5px -6px black; display: inline-block; margin-right: 40px;">
            <img src="/images/corporative/JQ_porximidad.png" style="width: 50px; float: left;">
            <h2 style="float: left; margin-top: 5px; text-align: left; font-size: 18px; color:#007768;">Proximity to the client</h2>
            <h3 style="float: left; text-align: left; margin-top: 10px; font-size: 13px;">Our lead response time is short thanks to our global network presence</h3>
        </div>

        <div style="background-color: white; width: 180px; padding: 5px; height: 200px; box-shadow:  5px 5px 5px -6px black; display: inline-block; margin-right: 40px;">
            <img src="/images/corporative/JQ_informes.png" style="width: 50px; float: left;">
            <h2 style="float: left; margin-top: 5px; text-align: left; font-size: 18px; color:#007768;">Rigorous reporting</h2>
            <h3 style="float: left; text-align: left; margin-top: 10px; font-size: 13px;">We professionally conduct and review minutiously quality inspections and surveys before writing reliable corresponding reports</h3>
        </div>
    </div>

</div>

<!--BANNER3-->
<div class="container-xxl" style="padding: 0; width:100%;  position: relative; text-align: center; margin-top: 200px;">
    <img src="/images/corporative/JQ_chirimoya.jpg" style="width: 70%; margin-right: auto; margin-left: auto; display: block;" alt="inspections">
    <h4 style="position:absolute; top: 25%; left: 20%; transform: translate(-50%, 0%); color: #737373; font-size: 20px; font-weight: bold; text-align: left;">WE INSPECT<br> MORE THAN 100 CATEGORIES<br> OF DIFFERENT PRODUCTS<br> PER SEASON</h4>
    <h5 style="position:absolute; top: 75%; left: 80%; transform: translate(-50%, 0%); color: #737373; font-size: 20px; font-weight: bold; text-align: right;">NO MATTER WHAT CHALLENGES,<br> OUR SERVICE<br> WILL ALWAYS BE RIGOROUS<br> AND PROFESSIONAL </h5>

</div>

<!--BANNER CONTACTO-->
<div class="container-fluid" style=" padding: 0; width:500px; height: 150px; margin-top: 70px; margin-bottom: 150px; background: linear-gradient(to bottom, #8c8c8c, white, #cccccc); padding: 2px;">
    <div  style="background-color: white; padding: 5px; height: 100%;">
        <h2 style="color: #737373; text-align: center; font-size: 25px; font-weight: bold;">We are one click away from helping you</h2>
        <h3 style="color: #737373; text-align: center; font-size: 15px; margin-top: 15px;">If you need advice or personalized budget contact us.</h3>
        <div style="width: 355px; margin-left: auto; margin-right: auto; margin-top: 30px;">
            <div style="width: 140px; display: inline-block;">
                <img src="/images/corporative/JQ_sobre.png" style="width: 30px; display: inline-block;" alt="just quality contacto email">
                <p style="display: inline-block; font-size: 14px; width: 90px; margin-left: 10px;">info@justq.eu</p>
            </div>
            <div style="width: 160px; display: inline-block; margin-left: 50px;">
                <img src="/images/corporative/JQ_auriculares.png" style="width: 30px; display: inline-block;" alt="just quality contact phone number">
                <p style="display: inline-block; font-size: 14px; margin-left: 10px;">868 081 454</p>
            </div>
        </div>
    </div>
</div>


<!--BANNER4-->
<div class="container-xxl" style="padding: 0; margin-bottom: 100px;">
    <img src="/images/corporative/JQ_detalle-12.jpg" style="width: 100%;">
</div>
