<!--BANNER2-->
<div class="container-xxl" style="padding: 0; display: block; width:100%; margin-top: -100px; height: auto; position: relative; text-align: center;">
    <img src="/images/corporative/JQ_citricos.jpg" style="width: 100%;">

    <div style="position:absolute; top: 20%; left: 10%; transform: translate(-50%, 0%);">
        <p style="text-align: left; width: 220px; line-height: 30px; font-weight: bold;">At Just Quality we have an international office made up of an experienced group of agronomists. They offer our clients their experience in carrying out, managing, and processing expert surveys in the agricultural field, whether judicial or non-judicial. However, they also offer their vocation for service, which has been proven for more than 30 years in the sector.</p>
    </div>

    <div style="position:absolute; top: 20%; left: 80%; transform: translate(-50%, 0%);">
        <img src="/images/corporative/JQ_30años.png" style="width: 100px;">
        <p style="text-align: right; width: 300px; line-height: 30px; font-weight: bold; color: #007768; margin-top: 20px;">At Just Quality, the perfection and professionalism of our reports are the energy that guides us in every service.</p>
    </div>

    <div style="position:absolute; top: 80%; left: 50%; transform: translate(-50%, 0%);">
        <p style="text-align: center; width: 450px; font-weight: bold; margin-top: 20px; font-size: 25px;">Do you have doubts about how to approach an Expert problem?</p>
        <p style="text-align: center; width: 450px; ">Fill in our test and we will assess the type of advice that best suits you.</p>
    </div>

</div>


<!--BANNER1-->
<div class="container-xxl" style="padding: 0; display: block; width:100%; margin-top: 0px; margin-bottom: 250px; text-align: center; height: auto; ">
    <img src="/images/corporative/JQ_APCAS.jpg" style="width: 150px; float:left">
    <div style="width: 80%; float: right;">
        <p style=" text-align: left; font-size: 20px; color: #4d4d4d; font-weight: bold;">As members of APCAS (Association of Surveyors and Damage Commissioners), we support its commitment to ensure the prestige and public image of all of us who share this profession.</p>
        <hr style="width: 100%; margin-left: auto; margin-right: auto;">
        <p style=" text-align: left; font-size: 20px; color: #4d4d4d; font-weight: bold;">We work hard to be a national and international benchmark to provide a guarantee to all our clients under the umbrella of the Association.
</p>
    </div>
</div>
