<!--BANNER1-->
<div class="container-xxl" style="padding: 0; display: block; width:100%; margin-top: 150px; text-align: center; height: auto;">
    <table style="width: 100%; height: 100%;">
        <tr>
            <td style="width:59%; display: inline-block;">
                <img src="/images/corporative/JQ_pitaya.jpg" style="width: 100%;">
            </td>
            <td style="width:39%; display: inline-block; margin-top: -100px;">
                <p style="text-align: left; color: #007768; font-weight: bold; font-size: 30px; ">Just Quality specializes in marine surveys and quality control of fruit and vegetables.</p>
                <hr style="width: 100%; color:#007768; margin-top: 40px;">
                <p style="text-align: left; font-size: 25px; font-weight: bold; margin-top: 40px;">Our surveyors are agronomists, guaranteeing a professional, reliable, and independent service. This will help you in your middle- and long-distance sales management.</p>
                <p style="text-align: left; font-size: 20px; margin-top: 40px;">Our team is present in the 5 continents and more than 60 countries, covering all ports of fruit exports and/or imports.</p>
            </td>
        </tr>
    </table>
</div>


<!--BANNER2-->
<div class="container-xxl" style="padding: 0; display: block; width:100%; margin-top: 100px; text-align: center;">
    <img src="/images/corporative/JQ_detalle-12.jpg" style="width: 90%; margin-left: auto; margin-right: auto;">
</div>

<!--BANNER3-->
<div class="container-xxl" style="padding: 0; display: block; width:100%; margin-top: 100px; text-align: center;">
    <div style=" width: 39%; display: inline-block; padding: 30px;">
        <p style="text-align: right; color:#007768; font-weight: bold;">Guarantee</p>
        <hr style="margin-top:-15px; margin-bottom: 3px; color:#007768;">
        <p style="text-align: right;">Contracting a source marine survey service is your best insurance against claims.</p>
    </div>

    <p style="width: 59%; display: inline-block; text-align: left; padding: 30px;">Contracting our inspection/ marine survey services both during container loading and upon opening at the destination guarantees you the absence of unjustified claims and, if necessary, speeds up the systems for managing claims to insurers.</p>
</div>


<!--BANNER4-->
<div class="container-fluid" style="padding: 0; display: block; width:100%; margin-top: 50px; text-align: center; position: relative;">
    <img src="/images/corporative/JQ_degradado2-12.jpg" style="height: 50px; width: 100%;">
    <p style="position:absolute; top: 5%; left: 50%; transform: translate(-50%, 0%); width: 100%; color: white; font-weight: bold; font-size: 30px;">Marine survey services presentation</p>
</div>

<!--BANNER5-->
<div class="container-xxl" style="padding: 0; width:100%; margin-top: 100px; position: relative; text-align: center; margin-bottom: 100px;">
    

    <div style="width: 49%; display: inline-block;">
        <div style="background-color: white; width: 180px; padding: 5px; height: 270px; box-shadow:  5px 5px 5px -6px black; display: inline-block; margin-right: 40px;">
            <img src="/images/corporative/JQ_informes.png" style="width: 50px; float: left;">
            <p style="float: left; margin-top: 5px; text-align: left; font-size: 18px; color:#007768;">How we work at origin</p>
            <p style="float: left; text-align: left; margin-top: -10px; font-size: 13px;">Our Quality Control System is designed to check all the pallets that make up a container.</p>
        </div>

        <div style="background-color: white; width: 180px; padding: 5px; height: 270px; box-shadow:  5px 5px 5px -6px black; display: inline-block; margin-right: 40px;">
            <img src="/images/corporative/JQ_informes.png" style="width: 50px; float: left;">
            <p style="float: left; margin-top: 5px; text-align: left; font-size: 18px; color:#007768;">How we work at destination</p>
            <p style="float: left; text-align: left; margin-top: -10px; font-size: 13px;">We expect to receive all container documentation and details at destination, after shipment and during the transit time.</p>
        </div>
    </div>

    <p style="width: 49%; display: inline-block; font-size: 30px; text-align: left; color:#007768; transform: translate(0%,-100%);">No matter the conditions, our work will always be rigorous and professional.</p>

</div>
