
<div class="container-fluid" style="margin-top: 200px; margin-bottom: 100px; ">
    <div class="container-xxl">
      <p style="text-align: center; font-weight: bold; font-size: 30px; ">RESOURCES</p>
      <div class="container">
        <div class="row">

          <div class="col-sm">
            <div class="imagen-zoom" style="width: 90%; ">
                <img src="/images/corporative/JQ_pitaya.jpg" style="width: 100%;  height: 500px; ">
                <p style="text-align: center; font-weight: bold;">PRESENTACIÓN</p>
                <a href="/downloads/JUST_QUALITY_PRESENTATION_spanish.pdf" download="JUST_QUALITY_PRESENTATION" style="text-decoration: none; background-color: #007768; color: white; padding: 10px; width: 100%; display: block; text-align: center; font-weight: bold;">Descargar</a>
            </div>
          </div>

          <div class="col-sm">
            <div class="imagen-zoom" style="width: 90%; ">
                <img src="/images/corporative/JQ_frutosrojos.jpg" style="width: 100%; height: 500px;">
                <p style="text-align: center; font-weight: bold;">SURVEYS</p>
                <a href="/downloads/presentación_e_surveys_Spanish.pdf" download="JUST_QUALITY_SURVEYS" style="text-decoration: none; background-color: #007768; color: white; padding: 10px; width: 100%; display: block; text-align: center; font-weight: bold;">Descargar</a>
            </div>
          </div>

          <div class="col-sm">
            <div class="imagen-zoom" style="width: 80%; ">
                <img src="/images/corporative/cebolla_morada.jpg" style="width: 100%; height: 500px;">
                <p style="text-align: center; font-weight: bold;">PERITOS TASADORES</p>
                <a href="/downloads/JUST_QUALITY_Peritos_tasadores_spanish.pdf" download="JUST_QUALITY_PERITOS_TASADORES" style="text-decoration: none; background-color: #007768; color: white; padding: 10px; width: 100%; display: block; text-align: center; font-weight: bold;">Descargar</a>
            </div>
          </div>                            

        </div>
      </div>
    </div>
</div>
