
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="box-shadow: 0px 0px 8px 2px black; "> 

    <div class="container-xxl">

        <a class="navbar-brand" href="/"><img src="/images/corporative/JQ_logo.png" style="width: 150px;" alt="just quality logo"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">

            <menu class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: auto; margin-right: auto;">
                <li class="nav-item">
                    <a class="nav-link" href="/conocenos" style="color: #4d4d4d; margin-right: 20px; font-weight: bold; font-size: 15px;">Conocenos</a>
                </li>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"  style="color: #4d4d4d; margin-right: 20px; font-weight: bold; font-size: 15px;">Servicios</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/inspecciones-surveys">Inspección/Surveys</a></li>
                            <li><a class="dropdown-item" href="/periciales">Periciales</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/presencia-mundial" style="color: #4d4d4d; margin-right: 20px; font-weight: bold; font-size: 15px;">Presencia mundial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacto" style="color: #4d4d4d; margin-right: 20px; font-weight: bold; font-size: 15px;">Contacto</a>
                </li>

            </menu>

            <span class="navbar-text">
                <a href="https://www.linkedin.com/company/just-quality-systems-inspections/"><img src="/images/corporative/JQ_linkedin.png" style="width: 30px;" alt="just quality linkedin"></a>
                <a href="/"><img src="/images/corporative/JQ_español.png" style="width: 30px; margin-right: -10px;" alt="just quality español"></a>
                <a href="/en"><img src="/images/corporative/JQ_english.png" style="width: 30px;" alt="just quality ingles"></a>
                <label style="font-size: 10px; color: #007768;"><a href="/intranet" style="color: #007768; text-decoration: none;">INTRANET</a></label>
            </span>
        </div>
    </div>
</nav>
