<div class="container-width-content">

    <p id="container-titulo">New product</p>

    <p id="back-main"><a href="/intranet/administracion/familias/en"><i class="bi bi-arrow-left"></i>Back to products</a></p>

        <form id="new-common-form" class="contentData" method="POST" action="/intranet/administracion/familias/en/nuevo">
            <p class="contentDataContainerTitle">New product</p>

            <div class="contentDataContainer">
                <label>Product name (English)</label>
                <input name="familia_en" type="text" required>
            </div>

            <div class="contentDataContainer">
                <label>Product name (Spanish)</label>
                <input name="familia" type="text" required>
            </div>

            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit">Create product</button>
        </form>

</div>