{{#if DATA.documentacion.content.mostrar}}
<div class="content" id="tab-documentacion">
    {{#each DATA.documentacion.content.documentacion}}
      <div class="img-full-container">
        <img src='https://fotos.justq.eu/{{foto_control_documentacion_foto}}'/>
      </div>
    {{/each}}
</div>
{{/if}}