{{#if DATA.pesos.content.mostrar}}
  <div class="content" id="tab-pesos">
      <table class="table">
        <tr>
          <th id="table-title">Type of unit</th>
          <th id="table-title">Weight</th>
        </tr>
        {{#each DATA.pesos.content.pesos}}
        <tr>
          <td>{{valorNull control_peso_tipo_unidad_nombre}}</td>
          <td>{{valorNull control_peso_valor}} Kg</td>
        </tr>
        {{/each}}
        <tr>
          <th>Middle weight</th>
          <th>{{valorNull DATA.pesos.content.pesos.peso_total}} Kg</th>
        </tr>
      </table>

      {{#if DATA.pesos.content.mostrar_fotos}}
      <p id="content-fotos-p">Pictures</p> 
        <hr>
              {{#each DATA.pesos.content.pesos.fotos}}
              <div class="img-container">
                <img src='https://fotos.justq.eu/{{foto_control_peso_foto_nombre}}'/>
              </div>
              {{/each}}
      {{/if}}

  </div>
{{/if}}