<!DOCTYPE html>
<html lang="en">
<head>
    {{> intranet/common-head}}

    <title>Administration - JustQuality</title>

    <link rel="stylesheet" href="/css/intranet/administracion/admin-inicio.css">

</head>
<body>
    

    {{> intranet/navigation-en }}

    {{{ body }}}


    {{> intranet/common-scripts}}

</body>
</html>