<!DOCTYPE html>
<html lang="en">
<head>
    {{> intranet/common-head}}

    <title>Inicio - JustQuality</title>
    <link rel="stylesheet" href="/css/intranet/inicio/inicio.css">

</head>
<body>
    

    {{> intranet/navigation-en }}

    {{{ body }}}


    {{> intranet/common-scripts}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/scripts/intranet/inicio/graficos.js"></script>
    <script src="/scripts/intranet/inicio/en/inicio.js"></script>

</body>
</html>