<div class="container-width-content">

    <p id="container-titulo">Nuevo tipo de control</p>

    <p id="back-main"><a href="/intranet/administracion/controles"><i class="bi bi-arrow-left"></i> Volver a tipos de control</a></p>

    <form id="new-common-form" class="contentData" method="POST" action="/intranet/administracion/controles/nuevo/">
        <p class="contentDataContainerTitle">Nuevo tipo de control</p>

        <div class="contentDataContainer">
            <label>Nombre (español)</label>
            <input name="tipo_control" type="text" required>
        </div>

        <div class="contentDataContainer">
            <label>Nombre (inglés)</label>
            <input name="tipo_control_en" type="text" required>
        </div>

        <div class="contentDataContainer">
            <label>Prefijo</label>
            <input name="tipo_control_prefijo" type="text" required>
        </div>

        <!--<div class="contentDataContainer">
            <label>Familia asociada</label>
            <select name="estado">
                <option value="1">Activo</option>
                <option value="0">No activo</option> 
            </select>
        </div>-->

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit">Crear tipo de control</button>
    </form>

</div>