<!DOCTYPE html>
<html lang="es">
<head>
    {{> intranet/common-head}}

    <title>App - JustQuality</title>
    <link rel="stylesheet" href="/css/intranet/app/app.css">

</head>
<body>
    

    {{> intranet/navigation }}

    {{{ body }}}



    {{> intranet/common-scripts}}
    <script src="/scripts/intranet/app/app.js"></script>

</body>
</html>